.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.Map {
  width: 100vw;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.LoginDialog {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128,128,128,0.5);
  z-index: 1000;
}
 
.NewPoiDialog {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128,128,128,0.5);
  z-index: 1000;
}

.NewPoiDialog-inner {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  height: 500px;
  width: 400px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  padding: 10px;
}

.LoginDialog-inner {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  height: 150px;
  width: 300px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  padding: 10px;
}

.NewPoiDialog-textarea{
  width: 90%;
  height: 100px;
}

.NewPoiDialog-items {
  width: 250px;
  margin: 10px;
}

.NewPoiDialog-button {
  width: 100px;
  margin-top: 20px;
}

.LoginDialog-input {
  width: 125px;
  margin-top: 5px;
}

.LoginDialog-button {
  width: 100px;
  margin-top: 5px;
}

.trackInfo{
  font-size: small
}

.PoiInfo{
  font-size: small;
  white-space: pre-wrap;
}

.divIcon {
  background-color: transparent;
}

.placeIcon {
  background-color: blue;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 3rem 3rem 3rem;
  border: 1px solid #FFFFFF;
}
